@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap);
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.login-container {
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 5px;
    padding-bottom: 20px;
    font-size: 20px;
    box-shadow: 0 16px 16px rgba(2, 113, 187, 0.533);
    border-radius: 5px;
}

.login-head {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.input {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.input > label::after {
    content: ":";
    margin: 10px;
    opacity: 0.6;
}

.login-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.login-input > div {
    display: flex;
    flex-direction: column;
}

.login-input input {
    width: 100%;
    padding: 3px 5px;
    font-size: 18px;
    outline: none;
    border: none;
    background-color: transparent;
}

.input-text {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #0005;

}

.input-text > label {
    display: flex;
    align-items: center;
    font-size:20px;
    justify-content: center;
}

.button-login {
    background-color: rgba(2, 113, 187, 1);
    cursor: pointer;
    border: none;
    padding: 7px 5px;
    border-radius: 50px;
    margin: 20px 5px ;
    color:white ;
    transition: .3s;
}

.button-login:hover {
    background-color: rgb(1, 85, 141);

}

.creator {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.creator hr {
    height: 100%;
}

.creator img {
    height: 100%;
}

.detail-creator {
    font-size: 16px;
}
