
/* isi Dashboard */
.profil-card {
    display: grid;
    grid-template-areas: "image data waktu";
    grid-template-columns: 200px auto 150px;
    grid-template-rows: 200px;
    height: 200px;
    background-color: rgb(57, 110, 224);
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    gap: 5px;
    box-shadow: 0 0 8px #0006;
}

.img-profil {
    grid-area: image;
    overflow: hidden;
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.img-profil img {
    width: 100%;
    max-width: 180px;
    box-shadow: 0 0 8px #0006;
    border-radius: 50%;
    overflow: hidden;
}

.data-profil {
    grid-area: data;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    padding: 5px;
}

.waktu-profil {
    grid-area: waktu;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    align-items: center;
    padding: 10px;
}

.waktu-masuk,
.waktu-pulang {
    display: flex;
    background-color: green;
    width: 100%;
    height: calc(100% - 20px);
    max-height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 8px #0006;
    color: #f5f5f5;
    font-family: 'Ubuntu', sans-serif;

}

.waktu-pulang {
    background-color: rgb(182, 58, 58);
}

.nama-profil {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.tabel-profile {
    border-collapse: collapse;
    text-transform: uppercase;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 8px #0006, inset 0 0 8px #0006;
    border: 5px solid rgb(57, 110, 224);
}

.tabel-profile th {
    padding: 10px;
    background-color: #f0f0f0;
}

.tabel-profile th:first-child {
    color: #f5f5f5;
    background-color: rgb(16, 35, 56);

}


/* Chart CDNJS */
.chart {

    width: 100%;
    display: flex;
    margin: 10px 0;
    padding: 10px;
}

.detail-data {
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid rgb(57, 110, 224); */
    border-radius: 5px;
    /* overflow: hidden; */
    overflow-x: auto;
    flex-direction: column;
}

.tabel-data {
    border: 1px solid rgb(57, 110, 224);
    border-collapse: collapse;
    width: 100%;
    text-transform: uppercase;
}

.tabel-data th {
    background-color: rgb(57, 110, 224);
    color: #f5f5f5;
}

.tabel-data tr:nth-child(even) {
    background-color: #c5c3c3;
}

.tabel-data th,
.tabel-data td {
    padding: 10px;
    text-align: center;
}

.tabel-data tr td:first-child,
.tabel-data tr th:first-child {
    width: 50px;
}

.tabel-data td {
    border: 1px solid rgb(57, 110, 224);
}

.page-navigation {
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    padding: 5px;
    display: flex;
}

.page-navigation button {
    padding: 2px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .profil-card {
        grid-template-areas: "image data "
            " waktu waktu";
        width: 100%;
        grid-template-columns: 200px auto;
        height: 300px;
        grid-template-rows: 200px auto;

    }
}

@media screen and (max-width: 512px) {
    .nama-profil {
        font-size: 20px;
    } 

    .profil-card {
        grid-template-areas: "image"
            "data"
            "waktu";
        grid-template-columns: auto;
        grid-template-rows: 200px 150px auto;
        width: 100%;
        height: 500px;
    }
}
