@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap);
* {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    transition: .5s;
}

/* body {
    overflow: hidden;
} */

.container {
    height:100vh;
    background-color: #cecece;
    width: 100%;
    display: grid;
    grid-template-areas:"sidebar main";
    grid-template-columns: 300px auto;
    gap: 5px;
    overflow: hidden;
}

/* Sidebar */
aside.sidebar {
    grid-area: sidebar;
    background-color: rgb(57, 110, 224);
    height: 100%;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
    padding: 10px 0;
    box-shadow: 0 0 4px #0004;
    overflow-y: auto;
    position: fixed;
    width: 300px;
}

aside.sidebar * {
    color: #fff;
    text-transform: uppercase;
}

.button-page {
    display: grid;
    grid-template-areas:"panah"
                        "logo"
                        "sidelink"
                        "exitLink";
    grid-template-rows: 30px 50px auto 50px;
    gap: 5px;
    height: 100%;
}

.logo {

    grid-area: logo;
}

.exit-link {
    grid-area: exitLink;
}

.exit-link, .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding:5px 10px;
    font-size: 20px;
    color:#000;
}

.sidebar-head {
    font-weight: 400;
    text-transform: uppercase;
}

.sidebutton {
    grid-area: sidelink;
    display: block;
}

.sidebutton > .list-link:nth-child(6) {
    height: 40px;
    overflow: hidden;

}

.sidelink:hover,
.exit-link:hover {
    background-color: rgb(33, 82, 187);
}

.sidelink {
    display: flex;
    align-items: center;
    gap: 10px;
    padding:5px 10px;
    font-size: 20px;
}

.bukaTutupSidebar {
    grid-area: panah;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
}

.panah-sidebar {
    /* position: absolute; */
    z-index: 2;
    /* top: 7px;
    left: 270px; */
    font-size: 20px;
    transform:rotate(-180deg);
    cursor: pointer;
    filter: drop-shadow(0 0 4px #0004);
}

/* Dashboard */
.dash {
    grid-area: main;
    padding: 10px;
}

.dash-content {
    background-color: #F5f5f5;
    box-shadow: 0 0 8px #0004;
    padding:20px 5px 20px 20px;
    display: flex;
    border-radius: 10px;
    height: 100%;
    max-height:calc(100vh - 20px);
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    width:100% ;
    max-width:calc(100% - 330px) ;
}


.profil-card {
    display: grid;
    grid-template-areas: "image data waktu";
    grid-template-columns: 200px auto 150px;
    grid-template-rows: 200px;
    height: 200px;
    background-color: red;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    gap:5px;
}

.img-profil {
    grid-area: image;
    overflow: hidden;
    padding: 10px;
    height: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
}

.img-profil img{
    width: 100%;
    max-width: 180px;
}

.data-profil {
    background-color: green;
    grid-area: data;
}

.waktu-profil {
    grid-area: waktu;
    background-color: blue;
}

.bounceButton {
    display: flex;
    width: 50px;
    height: 50px;
    position: fixed;
    border-radius: 50%;
    z-index: 5;
    bottom: 15px;
    right: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    color:#fff;
    font-size: 20px;
}

.bounce-menu {
    position: fixed;
    /* background-color: rgb(57, 110, 224); */
    width: 150px;
    overflow: hidden;
    display: flex;
    /* box-shadow: 0 0 4px #0007; */
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    z-index: -2;
    bottom: -100%;
    right: 15px;
    visibility: hidden;
    transition: opacity .3s, bottom 1s, visibility .5s;
}

.bounce-link {
    border-radius: 10px;
    color: #fff;
    padding: 5px;
    display: flex;
    bottom: 70px;
    align-items: center;
    gap: 5px;
    background-color: rgb(33, 82, 187);
}


#bounce-button {
    display: none;
}

#bounce-button:checked ~ .bounce-menu {
    visibility: visible;
    opacity: 1;
    bottom: 70px;
}

.bounceButton > i {
    background-color: rgb(33, 82, 187);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 8px #0007;
    transition: transform 1s, font-size 1s;
}

#bounce-button:checked ~ i {
    font-size: 30px;
    transform: rotate(360deg);
}

@media screen and (width <= 1024px) {
    .profil-card {
        grid-template-areas: "image waktu"
                            "data data";
        width: 100%;
        grid-template-columns: 200px auto;
        height: 400px;
        grid-template-rows:200px auto;

    }
    .dash-content {
        padding:20px 20px 20px 20px;

    }
}

@media screen and (width <= 768px) {
    .container {
        grid-template-columns: 0px auto;
        gap: 0px;
    }

    aside.sidebar {
        width: 40px;
        display: none;
    }

    .dash {
        padding: 5px;
    }

    .bukaTutupSidebar {
        display: none;
    }

    .panah-sidebar {
        visibility: hidden;
        opacity: 0;
        left: 30px;
    }

    .dash-content {
        width:100% ;
        height: 100%;
        max-width:calc(100% - 10px) ;
    }

    .bounceButton {
        display: flex;
    }
}


    @media screen and (width <= 512px) {
        .profil-card {
            grid-template-areas:"image"
                                "data"
                                "waktu";
            grid-template-columns:auto;
            grid-template-rows: 200px auto 100px;
            width: 100%;
            height: 550px;
        }
    }

