
.content-head {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.content-head span {
    display: flex;
    align-items: center;
    color: #0009;
    font-size: 20px;
}

.content--tentang {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #0009;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 8px #0006;
    align-items: center;
}

.content--tentang * {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.content--tentang h1 {
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content--tentang span {
    font-weight: 600;
}

.nama-sekolah {
    text-decoration: underline;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    /* background-color: red; */
    max-width: 1000px;
}


.content--tentang h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

