<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="e-Absensi siswa di SMK Swasta Jambi Medan" />
    <title>Jurusan - Admin</title>
    <!-- Style -->
    <link rel="stylesheet" href="../../assets/dashboard/css/style.css" media="all" />
    <link rel="stylesheet" href="../../assets/dashboardAdmin/css/adminJurusan.css" media="all" />
    <!-- BoxIcons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" media="all" />
    <!-- ToastAlert -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>

<body id="dashboard">
    <div class="container" id="container">
        <!-- Sidebar -->
        <aside class="sidebar" id="sidebar">
            <div class="button-page">
                <div class="bukaTutupSidebar" onclick="bukaSidebar()" id="bukaTutupSidebar">
                    <i class="bx bxs-chevron-right-circle panah-sidebar" id="panah-sidebar"></i>
                </div>
                <a href="dashboard-admin.html" class="logo"><i class="bx bxs-dashboard"></i>
                    <h1 class="sidebar-head">Dashboard</h1>
                </a>
                <ul class="sidebutton">
                    <li class="list-link">
                        <a href="dashboard-admin.html" class="sidelink "><i class='bx bxs-group'></i>Siswa</a>
                    </li>
                    <li class="list-link">
                        <a href="jurusan-admin.html" class="sidelink active"><i class='bx bxs-category'></i>Jurusan</a>
                    </li>
                    <li class="list-link">
                        <a href="kelas-admin.html" class="sidelink"><i class='bx bxs-chalkboard'></i>Kelas</a>
                    </li>
                    <li class="list-link">
                        <a href="user-admin.html" class="sidelink"><i class='bx bxs-user-rectangle'></i>User</a>
                    </li>
                    <li class="list-link">
                        <a href="peringkat-admin.html" class="sidelink"><i class="bx bxs-trophy"></i>Peringkat</a>
                    </li>
                    <li class="list-link">
                        <a href="laporan-admin.html" class="sidelink"><i class='bx bx-stats'></i>Laporan</a>
                    </li>

                </ul>
                <form action="/logout">
                    <button type="submit" class="sidelink btnExit"><i class="bx bxs-exit"></i>Keluar</button>
                </form>
            </div>
        </aside>
        <label class="bounceButton" for="bounce-button">
            <input type="checkbox" name="" id="bounce-button" />
            <i class="bx bxs-cog"></i>
            <ul class="bounce-menu">
                <li class="bounce-list">
                    <a href="dashboard-admin.html" class="bounce-link"><i class='bx bxs-group'></i>Siswa</a>
                </li>
                <li class="bounce-list">
                    <a href="jurusan-admin.html" class="bounce-link"><i class='bx bxs-category'></i>Jurusan</a>
                </li>
                <li class="bounce-list">
                    <a href="kelas-admin.html" class="bounce-link"><i class='bx bxs-chalkboard'></i>Kelas</a>
                </li>
                <li class="bounce-list">
                    <a href="user-admin.html" class="bounce-link"><i class='bx bxs-user-rectangle'></i>User</a>
                </li>
                <li class="bounce-list">
                    <a href="peringkat-admin.html" class="bounce-link"><i class="bx bxs-trophy"></i>Peringkat</a>
                </li>
                <li class="bounce-list">
                    <a href="laporan-admin.html" class="bounce-link"><i class='bx bx-stats'></i>Laporan</a>
                </li>
                <form action="/logout" class="bounce-list">
                    <button type="submit" class="bounce-link"><i class="bx bxs-exit"></i>Keluar</button>
                </form>
            </ul>
        </label>
        <!-- Dashboard -->
        <div class="dash" id="dashBoard">
            <div class="dash-content" id="dashContent">
                <h1 class="content-head">Data Jurusan</h1>
                <div class="data-jurusan">
                    <label class="searchInput" for="cari">
                        <input type="text" placeholder="Cari Jurusan..." id="cari" />
                        <i class="bx bx-search" onclick="search()"></i>
                    </label>
                    <div class="tabel">
                        <table border="1" class="table-data-jurusan" id="1">
                            <tr>
                                <td>ID</td>
                                <td>:</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Jurusan</td>
                                <td>:</td>
                                <td>Rekayasa Perangkat Lunak</td>
                            </tr>
                            <tr>
                                <td>Kepala Jurusan</td>
                                <td>:</td>
                                <td>Indra Swanto Ritonga S,Kom.</td>
                            </tr>
                            <tr>
                                <td>Interaksi</td>
                                <td>:</td>
                                <td>
                                    <button id="editButtonJurusan">Edit</button>
                                    <button type="submit">Hapus</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="tabel">
                        <table border="1" class="table-data-jurusan" id="1">
                            <tr>
                                <td>ID</td>
                                <td>:</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Jurusan</td>
                                <td>:</td>
                                <td>Teknik Jaringan Komputer dan Telekomunikasi</td>
                            </tr>
                            <tr>
                                <td>Kepala Jurusan</td>
                                <td>:</td>
                                <td>Jakub Sembiring S,Kom.</td>
                            </tr>
                            <tr>
                                <td>Interaksi</td>
                                <td>:</td>
                                <td>
                                    <button id="editButtonJurusan">Edit</button>
                                    <button type="submit">Hapus</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="pagination">
                        <button>1</button>
                        <button>2</button>
                    </div>
                </div>
                <h1 class="content-head">Tambah Jurusan</h1>
                <form action="" method="post" class="form-add">
                    <div class="input-data">
                        <label for="jurusan">Jurusan</label>
                        <input type="text" placeholder="Masukkan Jurusan" required id="jurusan" />
                    </div>
                    <div class="input-data">
                        <label for="namaKajur">Nama Kepala Jurusan</label>
                        <input type="text" placeholder="Masukkan Nama Kepala Jurusan" required id="namaKajur" />
                    </div>
                    <div class="buttonForm">
                        <button type="reset" class="reset buttonFormCon">Ulangi</button>
                        <a class="confirm buttonFormCon" id="buttonFormCon1">Tambah</a>
                    </div>
                    <!-- Confirmation Changes -->
                    <div id="confirm1">
                        <div class="confirmPage">
                            <span>Simpan ?</span>
                            <div class="button">
                                <p class="buttonConfirmation" id="noButton1">Tidak</p>
                                <button class="buttonConfirmation" type="submit">ya</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Edit Modal -->
                <div id="editModalJurusan" class="modal">
                    <div class="modal-content">
                        <span class="close" id="closeButtonJurusan">&times;</span>
                        <!-- Form edit -->
                        <h2>Edit Data</h2>
                        <form action="#" method="post" class="form-modal">
                            <div class="modal-input">
                                <label for="namaJurusan">Nama Jurusan</label>
                                <input type="text" id="namaJurusan" name="nis">
                            </div>
                            <div class="modal-input">
                                <label for="namaKajur">Nama Kepala Jurusan</label>
                                <input type="text" id="namaKajur" name="nama">
                            </div>
                            <button type="submit">Simpan</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Preload -->
    <div class="preload" id="preload">
        <div class="loader">
            <div class="dot"></div>
        </div>
        <div class="loader">
            <div class="dot"></div>
        </div>
        <div class="loader">
            <div class="dot"></div>
        </div>
        <div class="loader">
            <div class="dot"></div>
        </div>
        <div class="loader">
            <div class="dot"></div>
        </div>
        <div class="loader">
            <div class="dot"></div>
        </div>
    </div>
    <!-- Script -->

    <script src="../../assets/dashboardAdmin/js/jurusan.js" defer></script>
    <script src="../../assets/dashboard/js/main.js" defer></script>
</body>

</html>