<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="e-Absensi siswa di SMK Swasta Jambi Medan" />
    <title>Kelas - Admin</title>
    <!-- Style -->
    <link rel="stylesheet" href="../../assets/dashboard/css/style.css" media="all" />
    <link rel="stylesheet" href="../../assets/dashboardAdmin/css/adminSiswa.css" media="all" />
    <!-- BoxIcons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" media="all" />
</head>

<body id="dashboard">
    <div class="container" id="container">
        <!-- Sidebar -->
        <aside class="sidebar" id="sidebar">
            <div class="button-page">
                <div class="bukaTutupSidebar" onclick="bukaSidebar()" id="bukaTutupSidebar">
                    <i class="bx bxs-chevron-right-circle panah-sidebar" id="panah-sidebar"></i>
                </div>
                <a href="dashboard-admin.html" class="logo"><i class="bx bxs-dashboard"></i>
                    <h1 class="sidebar-head">Dashboard</h1>
                </a>
                <ul class="sidebutton">
                    <li class="list-link">
                        <a href="dashboard-admin.html" class="sidelink "><i class='bx bxs-group'></i>Siswa</a>
                    </li>
                    <li class="list-link">
                        <a href="jurusan-admin.html" class="sidelink "><i class='bx bxs-category'></i>Jurusan</a>
                    </li>
                    <li class="list-link">
                        <a href="kelas-admin.html" class="sidelink active"><i class='bx bxs-chalkboard'></i>Kelas</a>
                    </li>
                    <li class="list-link">
                        <a href="user-admin.html" class="sidelink"><i class='bx bxs-user-rectangle' ></i>User</a>
                    </li>
                    <li class="list-link">
                        <a href="peringkat-admin.html" class="sidelink"><i class="bx bxs-trophy"></i>Peringkat</a>
                    </li>
                    <li class="list-link">
                        <a href="laporan-admin.html" class="sidelink"><i class='bx bx-stats'></i>Laporan</a>
                    </li>

                </ul>
                <form action="/logout">
                    <button type="submit" class="sidelink btnExit"><i class="bx bxs-exit"></i>Keluar</button>
                </form>
            </div>
        </aside>
        <label class="bounceButton" for="bounce-button">
            <input type="checkbox" name="" id="bounce-button" />
            <i class="bx bxs-cog"></i>
            <ul class="bounce-menu">
                <li class="bounce-list">
                    <a href="dashboard-admin.html" class="bounce-link"><i class='bx bxs-group'></i>Siswa</a>
                </li>
                <li class="bounce-list">
                    <a href="jurusan-admin.html" class="bounce-link"><i class='bx bxs-category'></i>Jurusan</a>
                </li>
                <li class="bounce-list">
                    <a href="kelas-admin.html" class="bounce-link"><i class='bx bxs-chalkboard'></i>Kelas</a>
                </li>
                <li class="bounce-list">
                    <a href="user-admin.html" class="bounce-link"><i class='bx bxs-user-rectangle' ></i>User</a>
                </li>
                <li class="bounce-list">
                    <a href="peringkat-admin.html" class="bounce-link"><i class="bx bxs-trophy"></i>Peringkat</a>
                </li>
                <li class="bounce-list">
                    <a href="laporan-admin.html" class="bounce-link"><i class='bx bx-stats'></i>Laporan</a>
                </li>
                <form action="/logout" class="bounce-list">
                    <button type="submit" class="bounce-link"><i class="bx bxs-exit"></i>Keluar</button>
                </form>
            </ul>
        </label>
        <!-- Dashboard -->
        <div class="dash" id="dashBoard">
            <div class="dash-content" id="dashContent">
                <h1 class="content-head">Data Kelas</h1>

            </div>
        </div>
    </div>
    <!-- Preload -->
    <div class="preload" id="preload">
        <div class="loader">
            <div class="dot"></div>
        </div>
        <div class="loader">
            <div class="dot"></div>
        </div>
        <div class="loader">
            <div class="dot"></div>
        </div>
        <div class="loader">
            <div class="dot"></div>
        </div>
        <div class="loader">
            <div class="dot"></div>
        </div>
        <div class="loader">
            <div class="dot"></div>
        </div>
    </div>
    <!-- Script -->

    <script src="../../assets/dashboardAdmin/js/main.js"></script>
    <script src="../../assets/dashboard/js/main.js" defer></script>
</body>

</html>